@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #F0F3F8;
    --color-surface: #FFFFFF;
    --color-surface-alt: #E2E8F0;

    --color-text: #0F172A;
    --color-text-muted: #64748B;

    --color-primary: #3B5BDB;
    --color-primary-dark: #364FC7;

    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-error: #EF4444;
    --color-info: #3B82F6;
  }
}
